<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @User.Identity.Name
    </a>
    <div id="mymenu" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a id="myCart" class="dropdown-item" asp-controller="Cart" asp-action="Index">購物車 </a>
        @*<a class="dropdown-item" asp-controller="Products" asp-action="AddProduct">新增商品</a>*@
        <a id="myOrder" class="dropdown-item" asp-controller="Order" asp-action="Index">我的訂單 </a>
        <a id="myWishList" class="dropdown-item" asp-controller="Home" asp-action="WishList">我的最愛 </a>
        <a class="dropdown-item" asp-controller="" asp-action="">個人資料</a>
    </div>
</li>