<link rel="stylesheet" href="~/css/Manager/Member/_MemberQueryPartial.css" />


<div class="container">
    <!--搜尋列-->
    <div class="box a">
        <div class="search-box">
            <i class="bx bx-search"></i>
            <input type="text" placeholder="Search" />
        </div>
    </div>

    <div class="box a-1">
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-visible"></div>
        <div class="box box-fn btn-primary">
            Create User
        </div>
    </div>

    <div class="box b">
        <div class="box box-content">
            <div class="box-section">
                <div class="box-img">陳</div>
            </div>
            <div class="box-section">
                陳其邁
                <p>admin09191902</p>
                <p>ID:0112</p>
            </div>
        </div>

        <div class="box box-content">
            <div class="box-section">
                <div class="box-img">菜</div>
            </div>
            <div class="box-section">
                菜逼八
                <p>lyenenii66</p>
                <p>ID:0113</p>
            </div>
        </div>
        <div class="box box-content">
            <div class="box-section">
                <div class="box-img"></div>
            </div>
            <div class="box-section">
                蔡嘿美
                <p>popoLin012</p>
                <p>ID:0114</p>
            </div>
        </div>

        <div class="box box-content">
            <div class="box-section">
                <div class="box-img"></div>
            </div>
            <div class="box-section">
                蔡嘿美
                <p>popoLin012</p>
                <p>ID:0114</p>
            </div>
        </div>

        <div class="box box-content">
            <div class="box-section">
                <div class="box-img"></div>
            </div>
            <div class="box-section">
                蔡嘿美
                <p>popoLin012</p>
                <p>ID:0114</p>
            </div>
        </div>

        <div class="box box-content">
            <div class="box-section">
                <div class="box-img"></div>
            </div>
            <div class="box-section">
                蔡嘿美
                <p>popoLin012</p>
                <p>ID:0114</p>
            </div>
        </div>
    </div>
    <!--右側面板-->
    <div  class="box c">
        <div id="box-main-content" class="box">
          @*<div class="right-section">
                <div class="section-topic">詳細資料</div>

                <div class="section-content">
                    <div class="box-img">陳</div>
                    <div class="inline-content">

                        <span>陳其邁</span>

                        <span>Phone：+886917365712</span>
                        <span>Email：djleleein0909@gmail.com</span>
                        <span>Address：台中市西屯區市政路100號</span>

                    </div>

                    <div class="inline-content"></div>

                    <div class="inline-content">
                        <span>　　　</span>
                        <span>建立日期：2020/11/20</span>
                        <span>修改日期：2020/11/25</span>
                        <span>最後登入：2021/03/01</span>
                    </div>

                </div>

                <div class="line"></div>

                <div class="section-function">
                    <div class="main-row">
                        <div class="function-content"><span>產品管理</span></div>
                        <div class="function-content">
                            讀取<br />

                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            新增<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            修改<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            刪除<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-function">
                    <div class="main-row">
                        <div class="function-content"><span>會員管理</span></div>
                        <div class="function-content">
                            讀取<br />

                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            新增<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            修改<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            刪除<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-function">
                    <div class="main-row">
                        <div class="function-content"><span>訂單管理</span></div>
                        <div class="function-content">
                            讀取<br />

                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            新增<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            修改<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="function-content">
                            刪除<br />
                            <div>
                                <label>
                                    <input type="checkbox" name="" id="" class="checkbox" />
                                    <span class="btn-box">
                                        <span class="btnb"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

            

@*            <div id="userSection" style="display:flex; justify-content:center;">
                    <div class="box box-reg">
                        <div class="box box-sm">
                            <div class="box-rg-content">
                                <input />
                                <input />
                                <input />
                            </div>
                        </div>                
                        <div class="box box-sm box-line"></div>                
                        <div class="box box-sm">
                            <div>
                                <input />
                                <input />
                                <input />
                            </div>                            
                        </div>                
                    </div>                
            </div>*@

            <div id="containerR">
                <div class="title">註冊帳號</div>
                <form action="#">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">姓名</span>
                            <input type="text" placeholder="Enter your name" required/>
                        </div>
                        <div class="input-box">
                            <span class="details">暱稱</span>
                            <input type="text" placeholder="Enter your username" required/>
                        </div>
                        <div class="input-box">
                            <span class="details">Email</span>
                            <input type="text" placeholder="Enter your email" required/>
                        </div>
                        <div class="input-box">
                            <span class="details">電話</span>
                            <input type="text" placeholder="Enter your number" required/>
                        </div>
                        <div class="input-box">
                            <span class="details">密碼</span>
                            <input type="text" placeholder="Enter your password" required/>
                        </div>
                        <div class="input-box">
                            <span class="details">確認密碼</span>
                            <input type="text" placeholder="Enter your password" required/>
                        </div>
                    </div>
                    

                    <div class="gender-details">
                        <input type="radio" name="gender" id="dot-1" />
                        <input type="radio" name="gender" id="dot-2" />
                        <input type="radio" name="gender" id="dot-3" />
                        <span class="gender-title">Gender</span>
                        <div class="category">
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="gender">Male</span>
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Female</span>
                            </label>
                            <label for="dot-3">
                                <span class="dot three"></span>
                                <span class="gender">Prefer not to say</span>
                            </label>
                        </div>
                    </div>
                    <div class="button">
                        <input type="submit" value="Register"/>
                    </div>
                </form>
            </div>

            

  


        </div>
    </div>
</div>

