USE [ShoppingDB]
GO
/****** Object:  StoredProcedure [dbo].[pro_shopStore_getMemberProfile]    Script Date: 2022/1/7 下午 06:17:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pro_shopStore_getMemberProfile]
(
  @memberId INT
)
AS

BEGIN
SELECT a.f_nickName AS NickName,
	   b.f_name AS GroupName,
	   a.f_cash AS Cash,
	   a.f_name AS RealName,
	   a.f_mail AS Email,
	   a.f_address AS Address

FROM t_members a WITH (NOLOCK)
	LEFT JOIN
	t_members_group b WITH (NOLOCK)
	ON a.f_groupId=b.f_id

WHERE a.f_id=@memberId

END
GO
