@*@model ShopStore.ViewModels.MemberViewModel*@
@{
    var returnUrl = Context.Request.Query["returnurl"];
    var name = Context.Request.Path;
}

<div class="col-md-10 mx-auto py-4">
    @{
        if (!User.Identity.IsAuthenticated)
        {
            <div>
                <div>
                    <h4>登入</h4>
                    <hr />
                </div>

                <div>
                    <form enctype="multipart/form-data" asp-action="Login" asp-route-returnurl="@returnUrl">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="inputAccount" class="form-control" name="account" value="@ViewBag.account" required />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" name="pcode" type="password" value="@ViewBag.pwd" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="btnLogin" class="btn btn-lg btn-primary" type="submit" value="登入" onclick="" />
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <h2>您已經登入</h2>
        }
    }

</div>

@section scripts{
<script type="text/javascript">
    $('label[required]').before('<span style="color:red">* </span>');

    $('#btnLogin').click(function(){
        console.log(this)
        localStorage.setItem('user', $('#inputAccount').val())
    })
</script>
}