/*Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');
* {
    margin-left: 0;
    /* padding: .; */
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "cwtexyen", "Poppins", sans-serif;
    font-size: 24px;
    width: 1;
}


/* body {
    min-height: 100vh;
    width: 100%;
} */

html,
body {
    height: 100vh;
    padding: 0;
}

ol,
ul {
    padding-left: 0px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background: #0A2558;
    transition: all 0.3s ease;
}

.sidebar .logo-details {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: cneter;
    /* display: inline-block; */
}

.sidebar .logo-details i {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    background: red;
    min-width: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sidebar .logo-details .logo_name {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-left: 8px;
}

.sidebar .nav-links {
    margin-top: 30px;
}

.sidebar .nav-links li {
    /* height: 50px; */
    /* height: 60px; */
    height: 180%;
    width: 100%;
    list-style: none;
    align-items: center;
    line-height: 3.1;
}

.sidebar .nav-links li .sub-menu {
    /* padding: 6px 6px 14px 80px; */
    margin-top: -10px;
    background-color: #1d1b31;
    display: none;
}

.sidebar .close .nav-links li .sub-menu {
    position: absolute;
}

.sidebar .nav-links li .sub-menu li {
    height: 50px;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    /* padding: 5px 10px 5px 135px; */
    display: flex;
    justify-content: space-around;
}

.sidebar .nav-links li .icon-link {
    height: 100%
}

.sidebar .nav-links li .icon-link .link_name {
    font-size: 20px;
}

.sidebar .nav-links li .icon-link a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    /* background: red; */
    min-width: 61px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.sidebar .nav-links .link_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}


/* Home section CSS */

.home-section {
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    /* width: calc(100% - 240px); */
    left: 300px;
    display: block;
    transition: all 0.3s ease;
}

.home-section nav {
    height: 80px;
    background: #fff;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section nav .sidebar-button .dashboard {
    font-size: 30px;
}

@media (max-width: 2500px) {
    .sidebar {
        width: 60px;
    }
    .sidebar .nav-links li .icon-link {
        height: 80px;
    }
    .sidebar.active {
        width: 300px;
    }
    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active~.home-section {
        width: calc(100% - 300px);
        left: 300px;
    }
    .home-section nav {
        /* width: calc(100% - 60px); */
        left: 60px;
    }
    .sidebar.active~.home-section nav {
        /* width: calc(100% - 300px); */
        left: 300px;
    }
}